html,body {
  font style: "Titillium Web";
}

.nav-item a
{
color: #000000;
font-size: 17px;
font-weight: 700;
letter-spacing: 4px;
}

.nav-item-dropdown a
{
color: #000000;
font-size: 17px;
font-weight: 700;
letter-spacing: 4px;
text-align: center
}

.dropdown-menu a
{
color: #000000;
font-size: 14px;
font-weight: 500;
letter-spacing: 2px;
text-align: center;
}

.dropdown-menu {
    left: 2% !important;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-xl {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 1.3rem;
}

.icon-size {
  font-size: 130px;
}

.text-size-body {
  font-size: 15px;
  font-weight: 900;
}

.text-size-data {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.container-50 {
  width: 500px;
}

.col-mid {
  margin: auto;
  text-align: center;
}

.btn-circle-social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
}

.icon-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  text-decoration: none;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #DD4B39;
  color: white;
}

.fa-linkedin {
  background: #007BB5;
  color: white;
}

.p-custom {
  line-height: 250%;
}

.form-check{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-label{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding-top: 0.5rem;
}

.text-settings-custom{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-bottom: -3px;
}

.btn-circle-save{
  width: 50%;
  height: 45px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

.btn-circle-details{
  width: 50%;
  height: 45px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form-settings{
  border-radius: 30px;
}

.text-input-head{
  text-align: left;
  font-weight: 600;
}